# Ignore R history
.Rhistory
.Rapp.history
.RData

# Ignore shell script output
cron-job.Rout

# Ignore Google Cloud Platform credentials
cloud-storage-env-vars.R
service-auth.json

# Ignore data sets (default location)
/data/
