# Ignore R history
.Rhistory
.Rapp.history

# Ignore Google Cloud Storage API keys
cloud-storage-env-vars.R

# Ignore map plots
map.html

# Ignore data sets
data/daily-arrests.csv
data/newport-news-accident-reports.csv
data/newport-news-arrest-reports.csv
data/newport-news-juvenile-reports.csv
data/newport-news-offenses-reports.csv
data/newport-news-field-contacts-reports.csv
data/newport-news-theft-from-vehicle-reports.csv
.httr-oauth
